@include mediaXL

@include mediaLg

@include mediaMd
   .header
      .logo
         height: 78px
         width: 78px
         margin-right: 20px

@include mediaSm
   .header
      flex-wrap: wrap
      justify-content: center

      .logo
         height: 120px
         width: 120px
         margin: 0
         margin-bottom: 10px

      .search
         margin-bottom: 15px
         width: 100vw
